@tailwind base;
@tailwind components;
@tailwind utilities;

.marqueeText {
  background: linear-gradient(#0266f5, #0266f5) left no-repeat, #d1d2de;
  background-size: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  cursor: pointer;
  -webkit-text-fill-color: transparent;
  transition: 1s ease-in-out;
}

.marqueeText:hover {
  background-size: 100% 100%;
}

.marqueeText:before {
  content: "*";
  background: transparent;

  font-size: 85px;
  line-height: 85px;
  -webkit-text-stroke: 1px rgba(0, 30, 76, 1);
  color: transparent;
}
